*,*::after,*::before{
  box-sizing: border-box;
}
body{
  margin: 0;
  background: linear-gradient(to right , #944fe2,#b29bcc);
 }
.header-title{
  text-align: center;
  font-size: 3rem;
}
.Timers {
  margin: 0 auto;
  text-align: center;
}

#display {
  margin-bottom: 20px;
}
#display span {
  font-size: 36px;
}
#buttons button:nth-child(2) {
  margin-left: 20px;
}

button {
  font-size: 16px;
  background-color: #008CBA;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 15px 32px;
  cursor: pointer;
}
button:hover {
  background-color: #000;
}
button:active {
  background-color: #000;
}
button:focus {
  outline: 0;
}